<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.project.station.StationDTO" alias="station"/>
		<typeAlias type="com.project.manager.managerDTO" alias="manager"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/chargeStation.xml"/>
		<mapper resource="mapper/manager.xml"/>
	</mappers>
</configuration>