
/* Start Section Styles */
section {
    width: 80%;
    padding: 5% 9% 4% 9%;
}

#home {
    background-color: #f9f9fd;
}

#one {
    background-color: #f9f9fd;
}

#two {
    background-color: #f9f9fd;
}

#three {
    background-color: #f9f9fd;
}

#four {
    background-color: #f9f9fd;
}

#five {
    background-color: #f9f9fd;
}


/* End Section Styles */

/* Start Nav Styles */
.navbarbar {
    position: fixed;
    z-index: 111;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

.navbarbar .nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbarbar .nav-menu li {
    position: relative;
    min-width: 200px;
    text-align: right;
}

.navbarbar .nav-menu li .dot {
    display: block;
    color: #fff;
    padding: 5px 0;
}

.navbarbar .nav-menu li .dot::before,
.navbarbar .nav-menu li .dot::after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 50%;
    top: 50%;
    transition: all .3s ease;
}

.navbarbar .nav-menu li .dot::before {
    width: 5px;
/*     height: 5px; */
    right: 0;
    border: 2px solid #181818;
    transform: translateY(-50%);
}

.navbarbar .nav-menu li .dot::after {
    width: 15px;
    height: 15px;
    border: 2px solid #F37321;
    right: -5px;
    transform: translateY(-50%) scale(0);
}

.navbarbar .nav-menu li .dot.active::before,
.navbarbar .nav-menu li:hover .dot::before {
    background: #F37321;
    border-color: #F37321;
}

.navbarbar .nav-menu li .dot.active::after,
.navbarbar .nav-menu li:hover .dot::after {
    transform: translateY(-50%) scale(1);
}

.navbarbar .nav-menu li .dot span {
    display: inline-block;
    opacity: 0;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: capitalize;
    background-color: #F37321;
    padding: 10px 20px;
    border-radius: 3px;
    margin-right: 30px;
    transform: translateX(20px);
    transition: all .3s ease;
}

.navbarbar .nav-menu li .dot span::before {
    display: block;
    position: absolute;
    content: '';
    border-left: 7px solid #F37321;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    top: 50%;
    transform: translate(7px, -50%);
    right: 0;
    transition: all .3s ease;
}

.navbarbar .nav-menu li .dot.active span,
.navbarbar .nav-menu li:hover .dot span {
    transform: translateX(0px);
    opacity: 1;
}
/* End Nav Styles */

@font-face {
	font-family: 'LeferiPoint-BlackA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.title {
	font-size:30px;
	font-family: 'LeferiPoint-BlackA';
}

h4{
	font-family: 'LINESeedKR-Bd';
	color: #F37321;
}

.table{
	border-bottom: 1px solid #dee2e6;
}

.table-striped{
	border: 1px solid #dee2e6;
}

.table th{
	border: 1px solid #b9b9b9;
	color: #4d4946;
}

.table td{
	border-right: 1px solid #dee2e6;
	color: #676767;
	background-color: #fff;
}

.feeTblWrap{
	text-align: center;
}

p {
	color: #5a5959;
}

/* 관련정보 */
.linkWrap a{
	color: #5f5752;
}

.table{
	border-collapse: collapse;
	border-radius: 5px;
}





