@import
	url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext')
	;
.top {
	text-align: center;
}
.top button:hover {
    transform: translate(0,-10px);
    background-image: url(/evweb/images/top-arr-wh.png);
}
.top button{
	border: none;
	width: 32px;
	height: 32px;
	margin-bottom: 10px;
	background: url(/evweb/images/top-arr.png) no-repeat;background-size: contain;transition: 0.5s;}
.fp-auto-height{
	padding-top: 30px;
    height: auto !important;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}

h1 {
	font-size: 57px;
	line-height: 1.2;
	font-weight: 700;
	text-align: left;
}

h2 {
	font-size: 44px;
	line-height: 1.2;
	font-weight: 700;
	text-align: left;
}

p {
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
	transition: all 300ms linear;
	transition-delay: 1700ms;
}

body.hero-anime p {
	opacity: 0;
	transform: translateY(40px);
	transition-delay: 1700ms;
}

h1 span {
	display: inline-block;
	transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
	font-family: 'LeferiPoint-BlackA';
}

/* font-family: 'SF_HambakSnow';  'jejudoldam' 귀여운 제주체*/
h2 span {
	display: inline-block;
	transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
	font-family: 'Jeju Gothic';
}

body.hero-anime h2 span:nth-child(1) {
	opacity: 0;
	transform: translateY(-20px);
}

body.hero-anime h2 span:nth-child(2) {
	opacity: 0;
	transform: translateY(-30px);
}

body.hero-anime h2 span:nth-child(3) {
	opacity: 0;
	transform: translateY(-50px);
}

body.hero-anime h2 span:nth-child(4) {
	opacity: 0;
	transform: translateY(-10px);
}

body.hero-anime h2 span:nth-child(5) {
	opacity: 0;
	transform: translateY(-50px);
}

body.hero-anime h2 span:nth-child(6) {
	opacity: 0;
	transform: translateY(-20px);
}

body.hero-anime h2 span:nth-child(7) {
	opacity: 0;
	transform: translateY(-40px);
}

body.hero-anime h2 span:nth-child(8) {
	opacity: 0;
	transform: translateY(-10px);
}

body.hero-anime h2 span:nth-child(9) {
	opacity: 0;
	transform: translateY(-30px);
}

body.hero-anime h2 span:nth-child(10) {
	opacity: 0;
	transform: translateY(-20px);
}

body.hero-anime h2 span:nth-child(11) {
	opacity: 0;
	transform: translateY(-40px);
}

h2 span:nth-child(1) {
	transition-delay: 1000ms;
}

h2 span:nth-child(2) {
	transition-delay: 700ms;
}

h2 span:nth-child(3) {
	transition-delay: 900ms;
}

h2 span:nth-child(4) {
	transition-delay: 800ms;
}

h2 span:nth-child(5) {
	transition-delay: 1000ms;
}

h2 span:nth-child(6) {
	transition-delay: 700ms;
}

h2 span:nth-child(7) {
	transition-delay: 900ms;
}

h2 span:nth-child(8) {
	transition-delay: 800ms;
}

h2 span:nth-child(9) {
	transition-delay: 600ms;
}

h2 span:nth-child(10) {
	transition-delay: 700ms;
}

h2 span:nth-child(11) {
	transition-delay: 800ms;
}

body.hero-anime h1 span:nth-child(1) {
	opacity: 0;
	transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(2) {
	opacity: 0;
	transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(3) {
	opacity: 0;
	transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(4) {
	opacity: 0;
	transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(5) {
	opacity: 0;
	transform: translateY(50px);
}

h1 span:nth-child(1) {
	transition-delay: 1300ms;
	color: #F37321;
}

h1 span:nth-child(2) {
	transition-delay: 1500ms;
	color: #F37321;
}

h1 span:nth-child(3) {
	transition-delay: 1400ms;
}

h1 span:nth-child(4) {
	transition-delay: 1200ms;
}

h1 span:nth-child(5) {
	transition-delay: 1450ms;
}

@font-face {
	font-family: 'SF_HambakSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'jejudoldam';
	src: url('/evweb/css/jejudoldam.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	src: url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
	font-family: 'Jeju Gothic';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LeferiPoint-BlackA';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Happiness-Sans-Title';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

.main-wrap-indicate {
	width: 90px;
	height: 40px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	background: #F9F9FD;
	margin: 80px auto 0 auto;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-wrap2 {
	position: relative;
	width: 100%;
	background: #F9F9FD;
}

.wrap {
	position: relative;
	width: 1170px;
	height: 100%;
	margin: 0 auto;
}

* div:not(.map-box):not(.cCompany) {
	box-sizing: border-box;
}

.service-flex {
	display: flex;
	padding: 81px 0;
	justify-content: space-evenly;
}

.service-text1 {
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	font-family: 'LeferiPoint-BlackA';
}

.blue {
	color: #F37321 !important;
}

.service-text2 {
	height: 60px;
	font-size: 17px;
	line-height: 28px;
	color: #666666;
	margin-top: 8px;
}

.service-img {
	width: 210px;
	height: 175px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.service-box {
	width: 290px;
	height: 340px;
	border-radius: 15px;
	padding: 40px;
	cursor: pointer;
	margin: 30px;
}

.service-flex>div {
	background: #ffffff;
}

.service-box:hover {
	color: #f99e4e;
	text-shadow: 0px 1px 5px #efefef;
}

}
.shadow {
	-webkit-box-shadow: 0px 0px 40px rgb(29 58 83/ 10%) !important;
	box-shadow: 0px 0px 40px rgb(29 58 83/ 10%) !important;
}






@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

a.btn {
	width: 150px;
	padding: 18px 0;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0;
}

.modal-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	z-index: 1;
}

.modal-wrapper.open {
	opacity: 1;
	visibility: visible;
}

.modal {
	width: 650px;
	height: 510px;
	display: block;
	margin: 50% 0 0 -300px;
	position: relative;
	top: 50%;
	left: 50%;
	background: #f8f9fa;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	box-shadow: 0px 0px 0px 10px rgb(255, 255, 255), 1px 1px 3px 10px
		rgb(0 0 0/ 20%);
}

.modal-wrapper.open .modal {
	margin-top: -254px;
	opacity: 1;
	border-radius: 3%;
}

.head {
	width: auto;
	height: auto;
	padding: 12px 30px;
	overflow: hidden;
	background: #ffa063;
}

.btn-close {
	font-size: 28px;
	display: block;
	float: right;
	color: #fff;
}

.content {
	padding: 5%;
}
#section2 {
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}
.sectionfooter {
  font-size: 14px;
  background: #292929;
  
}
.sectionfooter.sub{
	width:100%;
	bottom:0;
	left:0;
	z-index:3;
	margin-left:0;
}
.sectionfooter.sub .footer-top{
	display:none;
}
.sectionfooter .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

.sectionfooter .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

.sectionfooter .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

.sectionfooter .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

.sectionfooter .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #47b2e4;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.sectionfooter .footer-newsletter form input[type=submit]:hover {
  background: #209dd8;
}

.sectionfooter .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

.sectionfooter .footer-top .footer-contact {
  margin-bottom: 30px;
}

.sectionfooter .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #F37321;
}

.sectionfooter .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}

.sectionfooter .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #F37321;
  position: relative;
  padding-bottom: 12px;
}

.sectionfooter .footer-top .footer-links {
  margin-bottom: 30px;
}

.sectionfooter .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sectionfooter .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #47b2e4;
  font-size: 18px;
  line-height: 1;
}

.sectionfooter .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.sectionfooter .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.sectionfooter .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.sectionfooter .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #47b2e4;
}

.sectionfooter .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #47b2e4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.sectionfooter .footer-top .social-links a:hover {
  background: #209dd8;
  color: #fff;
  text-decoration: none;
}

.sectionfooter .footer-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  text-align:center;
}

.sectionfooter .credits {
  float: right;
  font-size: 13px;
}

.sectionfooter .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {
  .sectionfooter .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sectionfooter .copyright,
  .sectionfooter .credits {
    text-align: center;
    float: none;
  }

  .sectionfooter .credits {
    padding-top: 4px;
  }
}
